<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.min.css">
<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script> 		
<script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.7/semantic.js"></script>
        <div class="ui massive top fixed inverted borderless menu" style="position: relative;">
        	<h4 class="ui header" style="padding-top : 15px; color:white; margin-left: 3vw; font-family: '微軟正黑體';">
            		投資組合定價 <br> 風險管理、市場災變偵測
          	</h4>
        	<div class="ui container">
            <div class="ui massive labeled icon secondary menu">
		        <a class="item" href="/" id="home-link">Home</a>
				<a class="item" href="/">Option</a>
                 <div class="ui dropdown item">
                    Stock
                    <div class="menu">
                      <a class="item" href="/"><i class="chart line icon"></i>Stock chart</a>
                      <a class="item" href="/stock/pairs_trading"><i class="dollar sign icon"></i> Pair trading</a>
                    </div>
                  </div>  
				<!-- <a class="item" href="/future/">Future</a> -->
				<a class="item" href="/">Others</a>           
            </div>
            </div>
        </div>
<script type="text/javascript">$('.ui.dropdown').dropdown();</script>
 


